beautifulsoup4
google-auth
gspread
gspread_dataframe
numpy
pandas
requests
selenium
selenium-stealth
streamlit
streamlit_lottie
tldextract
tqdm
webdriver-manager
zenrows
faiss-cpu
langchain==0.0.349
openai==0.28.1
tiktoken
matplotlib
plotly
scipy
scikit-learn
stqdm