beautifulsoup4
google-auth
gspread
gspread_dataframe
numpy
pandas
playwright
requests
selenium
selenium-stealth
streamlit
streamlit_lottie
tldextract
tqdm
webdriver-manager
zenrows
langchain==0.0.349
faiss-cpu
langchain-openai